@media screen and (max-width: 1500px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-items{
        padding: 0.312rem 0;
    }
    .contact-info, .phone-logo{
        position: relative;
        left: 0;
    }
    .logo{
        position: relative;
        bottom: 3rem;
    }
    .line2{
        left: 17.5rem;
    }
    .line1, .line2, .dot1, .dot2{
        display: none;
    }
}

@media screen and (max-width: 1481px) {
    .boxes{
        clear: both;
    }
}

@media screen and (max-width: 1335px) {
    .contact-info, .phone-logo{
        display: none;
    }
}

@media screen and (max-width: 1165px) {
    .boxes{
        display: none;
    }
}

@media screen and (max-width: 510px) {
    nav{
        display: none;
    }
    .logo img{
        left: 1.6rem;
    }
    .rectangle{
        display: none;
    }
    header{
        justify-content: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 364px) {
    .left-content h2{
        font-size: 3.5rem;
        right: 1.8rem;
    }
    .btn{
        position: relative;
        width: 11rem;
        padding: -2px;
    }
}